<div class="container">
	<div class="jumbotron text-center">
		<div class="page-header ">
			<h1><%= titulo %></h1>
		</div>
		<div class="content">
			<p><%= contenido %></p>
		</div>
	</div>
</div>
